<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>excel clone</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>EXCEL CLONE</h1>
    <div class="menu">menu</div>
    <div class="menu-options">menu options</div>
    <div class="formula-bar">formula bar
<input type="text">
<input type="text">
    </div>
   
    <div class="cell-container">
        <%for(let i=1;i<=rows;i++){%> 
            <div class="row"> 
            <%for(let j=0;j<cols;j++){%>
                <div class="col"> 
                    <%=i +"- "+ String.fromCharCode(65+j)%>
            </div>
                    <%}%>
    </div>
    <%}%>
      
    </div>
   
    <div class="sheets">sheets</div>

</body>
</html>
